@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rosario:wght@700&display=swap");
// font-family: 'DM Sans', sans-serif;
// font-family: 'Rosario', sans-serif;

// _________________________________standart style
body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #555555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

* img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --bg-color: #121b25;
  --accent-color: #1aa090;
  --text-color: #d6d6d6;
}

[class*="__container"] {
  max-width: 1240px;
  margin: 0px auto;
  // padding: 0 15px;
}

.btn {
  /* сброс стилей для кнопок */
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

input {
  /* сброс стилей для input */
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

// __________________универсальные классы____________________________________
.inner__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #222222;
  font-family: "Rosario", sans-serif;
}

.inner__text {
  font-family: "Rosario", sans-serif;
  line-height: 30px;
  color: #555555;
}

// __________________//////////////универсальные классы____________________________________

//   ////////////////////////////////
// ________________________HEADER STYLE_________________________________________
.header {
  padding: 50px 0 43px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
}

.header-block {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  line-height: 24px;
  color: #222222;
}

.header-logo {
  display: block;
  width: 57px;
}

.header__form {
  display: flex;
  align-items: center;
}

.search {
  width: 0;
}

.header-btn {
  width: 40px;
  height: 40px;
  background-color: #d4dbd8;
  background-image: url(../img/header/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.cart {
  width: 40px;
  height: 40px;
  background-color: #d4dbd8;
  background-image: url(../img/header/cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin: 0 32px 0 20px;
  position: relative;
}

.cart::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #09a66d;
  position: absolute;
  top: 8px;
  right: 13px;
}

.header-link {
  max-width: 160px;
  padding: 10px 0;
  background-color: #09a66d;
  color: #fff;
  line-height: 20px;
  border-radius: 8px;
  text-align: center;
}

// ________________________/////////HEADER STYLE_________________________________________

// ________________________HERO_________________________________________

.hero {
  background-color: #f3fbf8;
  position: relative;
}

.hero__wrapper {
  background-image: url(../img/hero/fresh-melientha.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding: 93px 0 33px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.hero__title {
  margin-bottom: 20px;
  text-align: center;
}

.hero__text {
  max-width: 637px;
  margin: 0 auto 59px auto;
  text-align: center;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__img {
  position: relative;
  width: 863px;
}

.hero__link {
  position: absolute;
  top: -18px;
  right: 20%;
  width: 176px;
  height: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222222;
  display: flex;
  gap: 20px;
  align-items: center;
}

.hero__link::after {
  content: "";
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #09a66d url(../img/hero/arrow-right.svg) no-repeat center;
}

.hero__list {
  width: 250px;
}

.hero__item:not(:last-child) {
  margin-bottom: 30px;
}

.hero__item {
  padding: 17px 33px 17px 113px;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
}

.hero__item span {
  display: block;
  font-size: 18px;
  line-height: 30px;
}

.users {
  background-color: #fff;
  background-image: url(../img/hero/svg-1.svg);
  background-repeat: no-repeat;
  background-position: left 33px center;
}

.stars {
  background-color: #fff;
  background-image: url(../img/hero/svg-2.svg);
  background-repeat: no-repeat;
  background-position: left 33px center;
}

.items {
  background-color: #fff;
  background-image: url(../img/hero/svg-3.svg);
  background-repeat: no-repeat;
  background-position: left 33px center;
}

// ________________________//////////////////HERO_________________________________________

// ________________________SERVICE_________________________________________

.service {
  padding: 141px 0 166px 0;
}

.service__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.service__content {
  width: 670px;
  position: relative;
  align-items: center;
}

.service__img {
  width: 569px;
  height: 569px;
  background: url(../img/service/elips-fruit.png),
    url(../img/service/Ellipse2-bg.png);
  background-repeat: no-repeat;
  background-position: bottom 76px center, right 0 center;
  background-size: 398px;
  display: flex;
  justify-content: center;
  padding: 31px;
}

.service__img figure {
  width: 354px;
}

.service__title {
  margin-bottom: 20px;
}

.service__text {
  margin-bottom: 16px;
}

.services__item {
  width: 500px;
  background-color: white;
  position: relative;
  padding: 40px 59px 40px 163px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

.services__item:hover {
  background-color: #d0f6e8;
}

.services__item::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background: #04291b29;
  top: 50%;
  left: 59px;
  transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.services__item:hover::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background: white;
  top: 50%;
  left: 59px;
  transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.icon-bike {
  background: url(../img/service/delivery-bike.svg) no-repeat center;
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
}

.icon-shopping {
  background: url(../img/service/shopping.svg) no-repeat center;
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
}

.icon-time {
  background: url(../img/service/fast-time.svg) no-repeat center;
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
}

.sercvice__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  display: block;
  margin-bottom: 8px;
}

.service__item-text {
  font-size: 14px;
  line-height: 20px;
  display: block;
}

.arrow-service {
  position: absolute;
  bottom: 0;
  left: 34%;
  width: 17px;
  height: 35px;
  display: block;
  background: url(../img/service/arrow-down.svg) center no-repeat;
  animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    border-bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

// ________________________///SERVICE_________________________________________
