@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");

:root {
    --main-color: #1AA090;
    --bg-color: #121B25;
    --text-color: #d6d6d6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--bg-color);
    color: #fff;

    &._lock {
        overflow: hidden;
    }
}

// _____________________________ОБЩИЕ КЛАССЫ________
.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #D6D6D6;
}

.title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 126%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 15px;
}

// header____________________________________________________________________________________________

.header {
    padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__logo {
    max-width: 200px;
}

.header__navigation {
    display: flex;
    align-items: center;
    gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
}

.header__menu {}

.menu__icon {
    display: none;

    @media (max-width: 992px) {
        display: block;
        height: 18px;
        width: 30px;
        position: relative;
        cursor: pointer;
        z-index: 5;

        span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;

            &:first-child {
                top: 0;
            }

            &:last-child {
                top: auto;
                bottom: 0;
            }
        }

        &._active {
            span {
                transform: scale(0);

                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }

                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }
}

.menu {
    @media (max-width: 992px) {
        position: absolute;
        top: 0;
        z-index: 4;
        left: -100%;
        height: 100vh;
        width: 80%;
        display: flex;
        overflow: auto;
        padding: 20px 0;
        background-color: rgb(119, 125, 125);
        transition: left .5s;

        &._active {
            left: 0;
        }
    }
}

.menu__body {
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width: 992px) {
        flex-direction: column;
        margin: auto;
    }
}

.menu__item {}

.menu__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #D6D6D6;
    transition: color .3s;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        background-color: var(--main-color);
        height: 3px;
        opacity: 0;
        visibility: hidden;
        transition: opacity .2s;
    }

    @media (any-hover: hover) {
        &:hover {
            color: #fff;

            &::before {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    @media (max-width: 992px) {
        line-height: 55px;
        font-size: 30px;
    }
}

.header__buttons {
    display: flex;
    gap: 5px;
}

.login {
    @media (any-hover: hover) {
        &:hover {
            background-color: #1AA090;
        }
    }

    @media (max-width: 445px) {
        display: none;
    }
}

.header__btn {
    color: #fff;
    padding: 11px 20px;
    border: 2px solid var(--main-color);
    background-color: transparent;
    transition: background-color 1s;
    cursor: pointer;
}

.register {
    background-color: #1AA090;

    @media (any-hover: hover) {
        &:hover {
            background-color: transparent;
        }
    }
}

//____________________________________///Header

// ___________________________________MAIN


.hero {
    margin-top: clamp(1.875rem, 0.852rem + 5.11vw, 4.688rem);
}

.green-cube {
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: -1;

    @media (max-width: 775px) {
        display: none;
    }

}

.hero__container {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: clamp(1.25rem, -5.703rem + 12.5vw, 5.625rem);

    @media (max-width: 992px) {
        flex-direction: column;
    }
}

.hero__content {
    flex: 0 0 calc(700px / 1420px * 100%);
    padding-bottom: clamp(2.5rem, -9.42rem + 21.43vw, 10rem);

    @media (max-width: 775px) {
        padding-bottom: 0px;
    }
}

.hero__title {
    font-weight: 600;
    font-size: clamp(1.875rem, 1.011rem + 4.32vw, 4.25rem);
    line-height: 126%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.hero__img {
    flex: 0 0 48.5%;

    @media (min-width: 768px) and (max-width: 992px) {
        display: none;
    }
}

.hero__text {
    margin-top: 18px;
}



// ___________________________Filter____________
.hero__filter {
    height: 100px;
    width: clamp(34.375rem, 0.603rem + 60.71vw, 55.625rem);
    background-color: #fff;
    margin-top: 60px;
    position: absolute;

    @media (max-width: 992px) {
        width: 100%;
        position: static;
    }

    @media (max-width: 992px) {
        height: auto;
    }
}

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 165px;
    color: #000;

    @media (max-width: 576px) {
        grid-template-columns: repeat(3, 1fr);
        padding: 5px;
    }

    @media (max-width: 475px) {
        grid-template-columns: 1fr;
    }
}

.filter__block {
    &:nth-child(2) {
        border-right: 1px solid #E8E8E8;
        border-left: 1px solid #E8E8E8;
    }
}

.block-filter {
    position: relative;
}

.block-filter__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    padding-left: 40px;
    cursor: pointer;

    @media (max-width: 992px) {
        align-items: flex-start;
    }
}

.block-filter__header {
    display: flex;
    align-items: center;
}

.block-filter__type {
    padding-right: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #858585;
}

.block-filter__icon {
    width: 10px;
    height: 5px;
    background: url(../img/icons/Vector.svg)center no-repeat;
    transition: transform .3s;

    &._active {
        transform: rotate(180deg);
    }
}

.block-filter__value {
    font-weight: 600;
    font-size: 18px;
    line-height: 126%;
    text-transform: capitalize;
    color: #121B25;
}

.block-filter__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    right: 0;
    color: brown;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .5s;
    box-shadow: 0 0 5px 1px #000;

    &._active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translateY(5px);
    }
}

.block-filter__item {
    padding: 10px;
    transition: background-color .5s;
    text-transform: capitalize;
    cursor: pointer;

    @media (any-hover: hover) {
        &:hover {
            background-color: #adadad;
        }
    }
}

.filter__btn {
    padding: 5px;

    button {
        cursor: pointer;
        background-color: #1AA090;
        height: 100%;
        width: 100%;
        border: none;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-transform: capitalize;
        color: #FFFFFF;

        &:active {
            background-color: #0e433c;
        }
    }

    @media (max-width: 576px) and (min-width: 475px) {
        grid-column: 1/4;
    }
}

// Feautered__________________________________________
.featured {
    margin-top: clamp(1.25rem, -5.703rem + 12.5vw, 5.625rem);
    padding-bottom: clamp(1.875rem, -1.534rem + 17.05vw, 11.25rem);
}

.featured__container {
    padding-top: clamp(1.875rem, 0.882rem + 1.79vw, 2.5rem);
}


.featured__title {}


.feautered__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1.25rem, -11.663rem + 23.21vw, 9.375rem);
    margin-top: 52px;
    cursor: pointer;
    overflow: auto;

    @media (max-width: 992px) {
        flex-direction: column;
    }
}

.feautered__item {
    flex: 0 0 auto;
}

// _______section  with slider___________

.slider {
    background: #0e433c url(../img/slider/slider-bg.png) center center/cover;
    padding: clamp(1.875rem, -1.08rem + 14.77vw, 10rem) 0;
}

.slider__title {
    margin-bottom: 40px;
    padding-left: 5px;
}

.slider__img {
    position: relative;
}

.item {
    @media (max-width: 850px) {
        text-align: center;
    }
}

.owl-nav button img {
    padding: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 1px solid #fff;
    border-radius: 50%;

    @media (max-width: 850px) {
        display: none;
    }
}

.owl-nav button {
    position: absolute;
    height: 75px;
    width: 75px;
    top: 45%;
    transform: translateY(-120%);

    @media (max-width: 1650px) {
        top: 0;
        right: 0;
    }
}

.owl-prev {
    left: -110px;

    @media (max-width: 1650px) {

        left: 70%;
    }

    @media (max-width: 700px) {

        margin-right: 30px;
    }
}


.owl-next {
    right: -110px;

    @media (max-width: 1150px) {
        right: 0;
    }

    @media (max-width: 700px) {

        margin-right: 30px;
        margin-left: 30px;
    }
}

.slider__items {
    display: flex;
    gap: 20px;

    @media (max-width: 850px) {
        justify-content: center;
    }
}

.slider__item {
    display: flex;
    gap: 4px;
    align-items: center;
}

.slider__title-item {
    padding-top: 22px;
    font-size: 26px;
    margin-bottom: 3px;
}

.slider__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #D6D6D6;
    margin-bottom: 18px;
}

.slider__button-wrapper {
    text-align: center;
    margin-top: 70px;

}

.slider__button {
    padding: 22px 42px;
    background-color: #1AA090;
    margin: 0 auto;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    transition: all .4s;
    color: #FFFFFF;

    &:hover {
        background-color: #082623;
    }
}

// _______________Choose__us

.choose__us {
    position: relative;
}

.choose__icons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 150px;

    @media (max-width: 870px) {
        flex-wrap: wrap;
    }
}



.choose__icon img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 29%;
}

.choose__title {
    margin-top: 180px;
    margin-bottom: 60px;
    text-align: center;
}

.choose__items {
    // width: 380px;
    width: 380px;
    padding-top: 180px;
    position: relative;
}

.choose__head {
    font-weight: 600;
    font-size: 26px;
    line-height: 126%;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 36px;
    padding-bottom: 11px;
}

.choose__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    text-align: center;
    color: #D6D6D6;

    @media (max-width: 870px) {
        margin-bottom: 25px;
    }
}


.choose__icon {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #132B32;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.choose__us-img {
    position: absolute;
    left: 0;
    top: 100px;
}

// Второй слайдер


.swiper__container {
    width: clamp(20rem, 4.091rem + 79.55vw, 63.75rem);
    height: 100%;
    margin: 0 auto;
    margin-bottom: clamp(4.375rem, 1.875rem + 12.5vw, 11.25rem);


}

.reviews__quotes {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 260px;
    text-transform: capitalize;
    color: #1AA090;
}

.swiper-slide {
    font-size: 18px;
    flex-direction: column;
    display: flex;
    justify-content: center;

}



.swiper__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 157%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 60px;
    padding-top: 140px;
}

.swiper__name {
    font-weight: 600;
    font-size: 22px;
    line-height: 126%;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.swiper__job {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #D6D6D6;
}



.mySwiper {
    position: relative;
}

.swiper__buttons {

    height: 60px;
    align-items: center;
    display: flex;
    gap: 70px;
    width: 115px;
    position: absolute;
    bottom: 0;
    right: 15px;

    @media (max-width: 900px) {
        right: 210px;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        background: #353f49;
        width: 1px;
    }
}



.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    color: #fff;
    font-weight: bold;

}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    color: #fff;
    font-weight: bold;
}

//   _______________gallery________________________________________

.gallery {
    background: linear-gradient(270deg, #1A242F 0.01%, rgba(26, 36, 47, 0) 82.97%);
    padding: clamp(2.063rem, -0.824rem + 14.43vw, 10rem) 0;
    margin-bottom: clamp(2.063rem, -1.278rem + 16.7vw, 11.25rem);
}

// .gallery__wrapper {
//     position: relative;
// }

.gallery__container {
    display: flex;
    align-items: center;
    gap: 63px;

    @media (max-width: 1100px) {
        flex-direction: column;
    }

}

.gallery__box {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 650px) {
        flex-direction: column;
    }

}

.gallery__item {
    width: clamp(15.625rem, 13.352rem + 11.36vw, 21.875rem);
    height: clamp(28.125rem, 25.852rem + 11.36vw, 34.375rem);

    @media (max-width: 650px) {
        width: clamp(20rem, 15.909rem + 20.45vw, 31.25rem);
    }

}

.gallery__item img {
    height: 100%;
    object-fit: cover;
}

.gallery__info {
    max-height: 550px;

    @media (max-width: 1100px) {
        text-align: center;
    }

}

.gallery__title {
    max-width: 520px;

    @media (max-width: 1100px) {
        max-width: 100%;
    }

}

.gallery__text {
    margin-top: 22px;
}

.gallery__button-link {
    margin-top: 45px;
    padding: 22px 42px;
    background-color: #0e433c;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    display: inline-block;
}

// _______________begin___________________________________

.begin {
    position: relative;
    padding: 180px 0;
    padding-top: 0;
}

svg.left-img {
    position: absolute;
    z-index: -1;
}

.right-img {
    position: absolute;
    right: 0;
    top: -240px;
}

.begin__title {
    max-width: 512px;
    font-weight: 600;
    font-size: 68px;
    line-height: 126%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.container__begin {
    display: flex;
    gap: 88;
    max-width: 1250px;
    
    @media (max-width: 700px) {
        flex-direction: column;
    }
}

.begin__text {
     font-weight: 400;
font-size: 18px;
line-height: 170%;
color: #D6D6D6;
margin-bottom: 16px;
}

.begin__button-link {
    margin-top: 45px;
    padding: 22px 42px;
    background-color: #0e433c;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    display: inline-block;
    cursor: pointer;
}

// _______________________footer______________________________________________________

.footer {
    z-index: 2;
    background: #1A242F;
    padding-top: clamp(1.875rem, -0.625rem + 12.5vw, 8.75rem);
    padding-bottom: clamp(1.875rem, 0.511rem + 6.82vw, 5.625rem);
}

.footer__main {
    display: flex;
    justify-content: space-between;
    gap: 130px;
    padding-bottom: 110px;
}

.footer__copyright {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-top: 1px solid #303A44;
    background: #1A242F;
}

.footer__block {
    max-width: clamp(1.875rem, -5.17rem + 35.23vw, 21.25rem);
}

.footer__text {
    padding: 22px 0 32px 0;
}

.links-footer__header {
    font-size: 26px;
    line-height: 126%;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-bottom: 11px;
}

.footer__social svg {
    fill: #555E68;
    width: 21px;
    height: 17px;
}

.footer__social svg:hover {
    fill: #fff;
}

.footer__socials {
    display: flex;
    gap: 31px;
    align-items: center; 
}

